@model StoreMongoApp.Models.Product

<h1>Create Product</h1>

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label>Name</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Price</label>
        <input asp-for="Price" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Category</label>
        <input asp-for="Category" class="form-control" />
    </div>

    <div class="mb-3">
        <label>In Stock</label>
        <input asp-for="InStock" type="checkbox" />
    </div>

    <button type="submit" class="btn btn-success">Create</button>
    <a asp-action="Index" class="btn btn-secondary">Back</a>
</form>